.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;

    .footer-links {
      font-size: 16px;
      text-transform: capitalize;
    }
  }

  .footer-lang {
    font-size: 16px;
  }
}
