.home-route {
  .home-route-header {
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 32 216px;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url("/media/test.webp") no-repeat;
    background-size: cover;

    .home-route-header-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
      justify-content: center;

      .home-route-wrapper-heading {
        color: white;
      }

      .home-route-wrapper-heading-sub {
        color: white;
      }
    }
  }

  .home-route-about {
    height: 40vh;
    background-color: #e3e3e3;
    padding: 32px 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .home-route-about-wrapper {
      display: flex;
      flex-direction: row;
      gap: 72px;

      .home-route-about-wrapper-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        .home-route-about-wrapper-content-icon {
          height: 24px;
        }

        .home-route-about-wrapper-content-sub-title {
          font-size: 17px;
        }
      }
    }
  }

  /*  */
  .home-route-main {
    padding: 32px 216px;
    display: flex;
    flex-direction: column;
    gap: 48px;

    .home-route-main-heading {
    }

    .home-route-main-listing {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 24px;
      column-gap: 24px;
    }
  }
}
