.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo-black {
    filter: brightness(0) saturate(100%);
  }
  .logo-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7445%)
      hue-rotate(243deg) brightness(101%) contrast(102%);
  }
  .navigation-links {
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    cursor: pointer;
  }

  .navigation-links-white {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
  }

  .navigation-wrapper {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

.second-navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  .second-navigation-link-home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .second-navigation-icon-home {
      height: 14px;
      width: fit-content;
      cursor: pointer;
    }
  }
}
