.model-route {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: var(--padding-wrapper);

  @media (max-width: 768px) {
    min-height: 100vh;
  }

  @media (min-width: 768px) {
    height: 100vh;
  }

  .model-route-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 32px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    @media (min-width: 768px) {
      flex-direction: column;
    }

    .model-route-main-heading,
    .model-route-main-sub-heading {
      color: black;
    }

    .model-route-main-form {
      display: flex;
      width: 100%;
      gap: 8px;
      font-size: var(--font-paragraphs);
      text-transform: capitalize;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .model-route-main-form-input {
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
        text-align: center;
        align-self: center;
        padding: 12px 24px;
        flex-grow: 1;

        @media (max-width: 768px) {
          width: 100%;
        }

        @media (min-width: 768px) {
          flex-grow: 1;
        }
      }

      .model-route-main-form-select {
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
        text-align: center;
        align-self: center;
        padding: 12px 24px;

        @media (max-width: 768px) {
          width: 100%;
        }

        @media (min-width: 768px) {
          flex-grow: 1;
        }
      }

      .model-route-main-form-submit {
        padding: 12px 24px;
        background-color: black;
        border-radius: 8px;
        color: white;
      }
    }

    .model-results {
      padding: 16px;
      border-radius: 8px;
      border: 1px solid black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .model-results-clear {
        height: var(--icon-sizes);
      }

      .model-results-output {
        font-size: var(--font-paragraphs);
        text-transform: capitalize;
      }
    }
  }
}
