.model-route {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  @media (max-width: 768px) {
    min-height: 100vh;
  }

  @media (min-width: 1024px) {
    height: 100vh;
  }

  .model-route-main {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url("/media/test.webp") no-repeat center;
    background-size: cover;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 32px;
    }

    @media (min-width: 1024px) {
      flex-direction: column;
      padding: 0 72px;
    }

    .model-route-main-heading,
    .model-route-main-sub-heading {
      color: white;
    }

    .model-route-main-form {
      display: flex;
      width: 100%;
      gap: 4px;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      @media (min-width: 1024px) {
        flex-direction: row;
      }

      .model-route-main-form-input {
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
        font-size: 16px;
        text-align: center;
        align-self: center;
        padding: 12px 24px;

        @media (max-width: 768px) {
          width: 100%;
        }

        @media (min-width: 1024px) {
          width: 0;
          flex-grow: 1;
        }
      }

      .model-route-main-form-select {
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
        font-size: 16px;
        text-align: center;
        align-self: center;
        padding: 12px 24px;

        @media (max-width: 768px) {
          width: 100%;
        }

        @media (min-width: 1024px) {
          width: 0;
          flex-grow: 1;
        }
      }

      .model-route-main-form-submit {
        padding: 12px 24px;
        background-color: black;
        border-radius: 8px;
        color: white;
      }
    }

    .model-results {
      background-color: white;
      padding: 24px;
      border-radius: 8px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      gap: 64px;

      .model-results-title {
      }

      .model-results-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .model-results-wrapper-clear {
          display: flex;
          flex-direction: row;
          gap: 8px;
          align-items: center;
        }

        .model-results-wrapper-output {
        }
      }
    }
  }
}
