.model-route {
  height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .model-route-main-heading,
  .model-route-main-sub-heading {
    color: white;
  }

  .model-route-main {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url("/media/test.webp") no-repeat center;
    background-size: cover;
    flex-grow: 1;
    border-radius: 8px;
    padding: 0 144px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    .model-route-main-form {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 8px;

      .model-route-main-form-input {
        background-color: white;
        border-radius: 8px;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
        padding: 16px 8px;

        input {
          font-size: 16px;
          width: 0;
          min-width: 60px; /* Set minimum readable width */
          flex-grow: 1; /* Only if you want it to grow */
        }

        select {
          font-size: 16px; /* This applies to both select and options */
        }
      }
    }

    .model-route-main-results {
      background-color: white;
      padding: 24px;
      border-radius: 8px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      gap: 64px;

      .model-route-main-results-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
  }
}
