.auth {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .auth-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .auth-wrapper-main {
      display: flex;
      flex-direction: column;
      width: clamp(281.6px, 48vw - 72px, 360.8px);
      gap: 16px;

      .auth-wrapper-main-heading {
        font-size: var(--font-sub-heading);
        text-transform: capitalize;
        font-weight: 400;
      }

      .auth-wrapper-main-form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .auth-wrapper-main-form-input {
          border: 1px solid black;
          border-radius: 8px;
          width: 100%;
          padding: 16px 24px;
          font-size: var(--font-paragraphs);
          text-transform: capitalize;
        }

        .auth-wrapper-main-form-submit {
          background-color: black;
          border-radius: 8px;
          color: white;
          width: 100%;
          padding: 16px 24px;
          text-align: center;
          text-transform: capitalize;
          font-size: var(--font-paragraphs);
          cursor: pointer;
        }
      }

      .auth-wrapper-main-link {
        color: #676afe;
        cursor: pointer;
      }
    }
  }
}
