.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo-black {
    filter: brightness(0) saturate(100%);
    height: clamp(1rem, 0.35rem + 0.75vw, 1.25rem);
  }
  .logo-white {
    height: clamp(1rem, 0.35rem + 0.75vw, 1.25rem);
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7445%)
      hue-rotate(243deg) brightness(101%) contrast(102%);
  }
  .navigation-links {
    font-size: var(--font-paragraph);
    text-transform: capitalize;
    color: black;
    cursor: pointer;
  }

  .navigation-links-white {
    font-size: var(--font-paragraph);
    text-transform: capitalize;
    color: white;
    cursor: pointer;
  }

  .navigation-wrapper {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

.second-navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: clamp(2rem, 0.35rem + 0.75vw, 1.25rem);

  .second-navigation-link {
    cursor: pointer;
    img {
      height: clamp(2rem, 0.35rem + 0.75vw, 1.25rem);
    }
  }

  .second-navigation-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: clamp(1rem, 0.35rem + 0.75vw, 1.25rem);
      cursor: pointer;
    }
  }
}

.navigation-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .navigation-dashboard-links {
    font-size: var(--font-paragraphs);
    text-transform: capitalize;
    cursor: pointer;
  }

  .navigation-dashboard-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
