.dashboard-listings {
  display: flex;
  height: 100vh;
  overflow: hidden;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  .dashboard-listings-aside {
    background:
      linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url("/media/dashboars-img.jpg") no-repeat;
    background-size: cover;

    @media (min-width: 1024px) {
      width: 35vw;
      height: 100%;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .dashboard-listings-main {
    flex-grow: 1;
    padding: 32px 200px;
    display: flex;
    flex-direction: column;
    gap: 72px;

    .dashboard-listings-main-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .dashboard-listings-main-links {
        display: flex;
        flex-direction: row;
        gap: 16px;

        .dashboard-listings-main-links-link {
          font-size: var(--font-paragraphs);
          text-transform: capitalize;
          cursor: pointer;
        }
      }
    }

    .dashboard-listings-main-wrapper {
      display: flex;
      flex-direction: column;
      border: 1px solid rgb(0, 0, 0, 0.5);
      flex-grow: 1;
      background-color: white;
      overflow: hidden;
      border-radius: 8px;

      .dashboard-listings-main-wrapper-title {
        display: flex;
        flex-direction: row;
        background-color: #f2f2f2;
        padding: 8px;
        font-size: var(--font-paragraphs);

        .dashboard-listings-main-wrapper-title-p {
          flex-grow: 1;
        }
      }

      .dashboard-listings-main-wrapper-items {
        display: flex;
        flex-direction: row;
        padding: 8px;
        font-size: var(--font-paragraphs);

        .dashboard-listings-main-wrapper-items-p {
          flex-grow: 1;
        }
      }
    }
  }
}
