.dashboard-listings {
  display: flex;
  overflow: hidden;

  @media (min-width: 7684px) {
    flex-direction: row;
    height: 100vh;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .dashboard-listings-aside {
    background:
      linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url("/media/dashboars-img.jpg") no-repeat;
    background-size: cover;
    padding: 32px;

    h1 {
      color: white;
      font-size: var(--font-paragraphs);
      font-weight: 700;
      text-transform: uppercase;
    }

    @media (min-width: 768px) {
      width: 35vw;
      height: 100vh;
    }

    @media (max-width: 786px) {
      flex-direction: column;
      height: 300px;
    }
  }

  .dashboard-listings-main {
    flex-grow: 1;
    padding: var(--padding-wrapper);
    display: flex;
    flex-direction: column;
    gap: 72px;

    @media (max-width: 768px) {
      gap: 32px;
    }

    @media (min-width: 768px) {
      justify-content: space-between;
    }

    .dashboard-listings-main-wrapper {
      display: flex;
      flex-direction: column;
      border: 1px solid rgb(0, 0, 0, 0.5);
      flex-grow: 1;
      background-color: white;
      overflow: hidden;
      border-radius: 8px;

      .dashboard-listings-main-wrapper-title {
        display: flex;
        flex-direction: row;
        background-color: #f2f2f2;
        padding: 8px;
        font-size: var(--font-paragraphs);

        .dashboard-listings-main-wrapper-title-p {
          flex-grow: 1;
        }
      }

      .dashboard-listings-main-wrapper-items {
        display: flex;
        flex-direction: row;
        padding: 8px;
        font-size: var(--font-paragraphs);

        .dashboard-listings-main-wrapper-items-p {
          flex-grow: 1;
        }
      }
    }
  }
}
