.dashboard-upload {
  display: flex;
  height: 100vh;
  overflow: hidden;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  .dashboard-upload-aside {
    background:
      linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url("/media/dashboars-img.jpg") no-repeat;
    background-size: cover;

    @media (min-width: 1024px) {
      width: 35vw;
      height: 100%;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .dashboard-upload-main {
    flex-grow: 1;
    padding: 32px 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .dashboard-upload-main-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .dashboard-upload-main-links {
        display: flex;
        flex-direction: row;
        gap: 16px;

        .dashboard-listings-main-links-link {
          font-size: var(--font-paragraphs);
          text-transform: capitalize;
          cursor: pointer;
        }
      }
    }

    .dashboard-upload-main-from {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .dashboard-upload-main-from-input {
        padding: 16px;
        font-size: var(--font-paragraphs);
        text-transform: capitalize;
        background-color: #f2f2f2;
        color: rgb(0, 0, 0, 0.5);
        border: 1px solid rgb(0, 0, 0, 0.25);
        border-radius: 4px;
      }

      .dashboard-upload-main-from-images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;
        background-color: #f2f2f2;
        border: 1px solid rgb(0, 0, 0, 0.25);
        border-radius: 4px;

        .dashboard-route-main-upload-from-input-img {
          display: flex;
          flex-direction: row;
          gap: 8px;
          span {
            color: rgb(0, 0, 0, 0.5);
            font-size: var(--font-paragraphs);
            text-transform: capitalize;
          }
          img {
            height: var(--icon-sizes);
          }
        }
      }

      .dashboard-upload-main-from-submit {
        background-color: black;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #f2f2f2;
        padding: 16px;
        border: 1px solid rgb(0, 0, 0, 0.25);
        border-radius: 4px;
      }
    }
  }
}
