.home-route {
  /*  */
  .home-route-header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url("/media/test.webp") no-repeat;
    background-size: cover;

    @media (max-width: 744px) {
      padding: 32px;
    }

    @media (min-width: 1204px) {
      height: 70vh;
      padding: 32 216px;
    }

    .home-route-header-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
      justify-content: center;

      .home-route-header-wrapper-heading {
        font-size: 4.29984rem;
        color: white;
      }

      .home-route-header-wrapper-subheading {
        color: white;
      }
    }
  }

  /*  */
  .home-route-about {
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;

    @media (max-width: 744px) {
      padding: 32px;
      gap: 32px;
    }

    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      height: 30vh;
      padding: 16px 216px;
    }

    .home-route-about-wrapper {
      display: flex;

      @media (max-width: 744px) {
        flex-direction: column;
      }

      @media (min-width: 1024px) {
        flex-direction: row;
        gap: 32px;
      }

      .home-route-about-wrapper-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        .home-route-about-wrapper-content-title {
          display: flex;
          flex-direction: row;
          gap: 16px;

          .home-route-about-wrapper-content-icon {
            height: 24px;
          }
        }

        .home-route-about-wrapper-content-sub-title {
          font-size: 17px;
        }
      }
    }
  }

  /*  */
  .home-route-main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    min-height: 100vh;

    .home-route-main-heading {
    }

    @media (max-width: 744px) {
      padding: 16px;
    }

    @media (min-width: 1024px) {
      padding: 32px 216px;
    }

    .home-route-main-listing {
      @media (max-width: 744px) {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 24px;
        column-gap: 24px;
      }
    }
  }
}
