.home-route {
  .home-route-header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url("/media/test.webp") no-repeat;
    background-size: cover;
    padding: var(--padding-wrapper);

    @media (max-width: 744px) {
      height: 100vh;
    }

    @media (min-width: 1204px) {
      height: 70vh;
    }

    .home-route-header-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;

      @media (max-width: 744px) {
        justify-content: flex-end;
      }

      @media (min-width: 1204px) {
        justify-content: center;
      }

      .home-route-header-wrapper-heading {
        font-size: var(--font-heading);
        color: white;
        font-weight: 400;
      }

      .home-route-header-wrapper-subheading {
        color: white;
        font-size: var(--font-paragraphs);
      }
    }
  }

  .home-about {
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    padding: var(--padding-wrapper);

    @media (max-width: 744px) {
      gap: 32px;
    }

    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      height: 30vh;
    }

    .home-about-heading {
      font-size: var(--font-paragraphs);
    }

    .home-about-wrapper {
      display: flex;

      @media (max-width: 744px) {
        flex-direction: column;
        gap: 32px;
      }

      @media (min-width: 1024px) {
        flex-direction: row;
        gap: 32px;
      }

      .home-about-wrapper-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        .home-about-wrapper-info-title {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 16px;
          font-size: var(--font-paragraphs);

          img {
            height: var(--icon-sizes);
          }
        }

        .home-about-wrapper-info-par {
          font-size: var(--font-paragraphs);
        }
      }
    }
  }

  .home-route-main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    min-height: 100vh;
    padding: var(--padding-wrapper);

    .home-route-main-heading {
      font-size: var(--font-paragraphs);
      text-transform: capitalize;
      font-weight: 400;
    }

    .home-route-main-listing {
      @media (max-width: 744px) {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 24px;
        column-gap: 24px;
      }
    }
  }
}
