.car-card {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  .car-card-icon {
    height: 20px;
    width: fit-content;
  }

  .card-card-wrapper {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .car-card-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .car-card-info-wrapper {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .car-card-info-wrapper-txt {
          font-size: 14px;
          text-transform: capitalize;
        }
      }
    }
  }

  .car-card-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid rgb(0, 0, 0, 0.5);
  }
}
