.car-card {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  @media (max-width: 744px) {
  }

  @media (min-width: 1024px) {
    /* height: 360px; */
  }

  .car-card-image {
    height: 240px;
    object-fit: cover;
    object-position: center;
  }

  .car-card-info {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;

    .car-card-info-name {
      font-size: var(--font-paragraphs);
      text-transform: capitalize;
      font-weight: 400;
    }

    .car-card-info-specs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .car-card-info-specs-txt {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        font-size: var(--font-paragraphs);

        .car-card-info-specs-icon {
          height: var(--icon-sizes);
          width: fit-content;
        }
      }
    }
  }

  .car-card-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
    border-top: 1px solid rgb(0, 0, 0, 0.5);
    font-size: var(--font-paragraphs);
    text-transform: lowercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.4s ease-in;

    img {
      height: var(--icon-sizes);
    }
  }

  .car-card-cta:hover {
    background-color: #f2f2f2;

    color: black;
    cursor: pointer;
  }
}
